#toolbox{
	float:left;
	width:15%;
	height:530px;
	margin:5px;
	border:3px solid grey;
	overflow-y: auto;
}
#logo {
	float: top;
}
#canvas{
	float:left;
	width:50%;
	height:530px;
	margin:5px;
	border:3px solid grey;
	overflow-y: auto;
	background-image: url(canvas-background.png);
}
#subcanvas{
	float:left;
	width:700px;
	height:550px;
}
img[id^="aws"]{
	margin:2px;
	border:2px dotted grey;
	border-radius: 10px;
	vertical-align: middle;
}
